<div class="header">
  <div class="logo"> 
    <%= image_tag 'IFG_logo.png', class:'logo_image'  %>
  </div>
  <div class="link_list">
    <a class="link_item" href="#"> About </a>
    <a class="link_item" href="#"> Team </a>
    <a class="link_item" href="#"> Contact </a>
  </div>
</div>
