<div class="center">
  <div class="title">
    Search an <span class="bold">Indie Film </span>that you want to know about.
  </div>

  <div class="search">
    <%= render 'form_en'%>
  </div>

  <div class="recommend">
    <div class="recommend_label">
      Recommendations &nbsp
    </div>
    <div class="recommend_list">
      <% @recommends.sample(3).each do |recommend| %>
          <%= link_to recommend ,"/en/show?search=#{recommend}"%> &nbsp
      <% end %>
    </div>
  </div>
</div>
<%#= render 'import' %>

<%#= render 'download' %>
