// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  margin: 0px 20px 0px 20px;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
  .logo {
    .logo_image{
      width: 200px;
      height: 35px;
    }
  }
  .link_list{
    .link_item{
      margin: 0px 5px 0px 5px;
    }
    a{
      font-size: 18px;
      text-decoration: none;
      color: #FFFFFF;
    }
    a:hover{
      color:#fff568;
    }
  }
}

.center{
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
  text-align: center;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  height:80%;
  .title {
  font-family:'NotoSansKR',sans-serif;
    font-size: 35pt; 
    color: #FFFFFF;
    .bold {
      font-weight: bold;
    }
  }

  .search, .recommend{
    margin-top: 20px;
  }

  .recommend{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
     font-size: 16pt;
    .recommend_label{
      color: #FFFFFF;
    }
    .recommend_list{
      margin-left: 8px;
      color:#fff568;
    }
  }
}





/* Search bar */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
