<div class="main_about">
      <center>
            <h3>INDIE FILM GENIE<br>인포매틱스를 활용한 해외 다양성영화 흥행 예측</h3>        
                </center>

                    <p>&nbsp;&nbsp;본 연구는 해외 다양성 영화의 국내 흥행에 영향을 미치는 변인들을 밝힌 후 다중 회귀분석을 이용한 흥행예측 모형을 도출하고자 하였다. 본 연구를 위해 2013년부터 2016년 사이에 국내 개봉했고 영화진흥위원회에서 ‘다양성영화’로 분류한 962개 외국영화의 자료가 사용되었다. 영화의 흥행 정도는 ‘해외 다양성 영화의 개봉 후 1주일간 누적 관객’을 기준으로 파악했으며 흥행에 영향을 미치는 독립변인으로는 개봉 첫 주 스크린 수, 시사회 관객 수, 장르, ‘Rotten Tomatoes’의 관객 평가 지수, ‘네이버 영화 카페’의 개봉일 전 언급량, ‘네이버 영화’의 개봉 전 보고싶어요 지수, ‘Youtube’에 게시된 한국 예고편 조회 수 등이 있다. 본 연구에서 개별 변인들에 대한 특징을 명시해주었으며 과연 어떠한 변인들이 실제로 유의미한 변인들인지도 설명한다. 이를 통해 결국 해외 다양성 영화 흥행예측 시에는 어떠한 변인들이 주요하게 작용하는지를 알 수 있게 된다.
                      예측 모형을 완성한 후에는 분석한 데이터를 이용하여 ‘INDIE FILM GENIE’라는 웹 사이트를 개발했다. 이 웹 사이트를 통해 누구나 개봉이 임박한 해외 다양성 영화의 첫 주 흥행을 예측해볼 수 있으며 더 나아가 극장의 개봉 직전 스크린 수 결정에도 도움을 줄 것이다.</p>
                        
                        
</div>
